$pinkbg: #f781b0;
$darkpink:#ba2d65;

@mixin inputStyle {
    padding:3px;
    margin:3px 0;
    border: 2px solid black;
    border-radius: 4px;
}

html, body {
    // background-color: black;
    background-image: url('../img/newspaper-2.jpg');
    background-size: cover;
  }

  .grid {
      height: 100vh;
      background-color: black;
      opacity: 0.9;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: 
      "box1 box1 box1"
      " . box2 . ";
    //  justify-items: center;
  }

.box1 {
    grid-area: box1;
}

.box2 {
    font-weight: bold;
    // background-image: url('../img/newspaper-background.jpg');
    // background-size: cover;
    background-color: white;
    text-align: center;
    border: 5px solid black;
    border-radius:10px;
    box-shadow:  -1px 1px $pinkbg,
    -2px 2px $pinkbg,
    -3px 3px $pinkbg,
    -4px 4px $pinkbg,
    -5px 5px $pinkbg,
    -6px 6px $pinkbg,
    -7px 7px $darkpink,
    -8px 8px $darkpink,
    -9px 9px $darkpink,
    -10px 10px $darkpink;
    grid-area: box2;
}

  .login{
    color: black;
    font-size: 1em;
  }

  #username {
    @include inputStyle();
    &:hover {
        background-color: lightpink;
    }
  }

  #password {
    @include inputStyle();
    &:hover {
        background-color: lightpink;
    }
  }

  a.button1{
    display: block;
    width: 40%;
    margin: 0 auto;
    margin-top: 3%;
    background-color:rgba(black, 1);
    color: white;
    padding:0.35em 1.2em;
    border:0.1em solid black;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight: bold;
    transition: all 0.2s;
    }
a.button1:hover{
    color:#000000;
    background-color:#FFFFFF;
    }
@media all and (max-width:30em){
a.button1{
    display:block;
    margin:0.4em auto;
}
}

.bouncy{
    animation:bouncy 5s infinite linear;
    position:relative;
    }
    @keyframes bouncy {
    0%{top:0em}
    40%{top:0em}
    43%{top:-0.9em}
    46%{top:0em}
    48%{top:-0.4em}
    50%{top:0em}
    100%{top:0em;}
    }

.noAccount {
    font-weight:bold;
}