.container {
    min-height: 100vh;
    font-size: 1em;
  }
  
  .mainpage {
    background-color: rgba(0,0,0,0.7);
    margin: 0;
    padding: 3%;
    text-align: center;
    display:grid;
    gap: 1rem;
    grid-template-columns: repeat(5, minmax(200px, 1fr));
    grid-template-rows: 20vh 20vh repeat(2, minmax(100px, 1fr)) 20vh;
  }

  @media screen and (max-width: 420px) {
    .card {
      grid-column: 1 / span 5;
    }
   }