@import "Variables";

// * {
//   margin:0;
//   padding: 0;
// }

// body {
//   margin: 0;
//   padding: 0;
//   background-color: #FCEEC5;
//   font-family: "Raleway", sans-serif;
//   font-size: 1.4rem;
// }

.container {
    min-height: 100vh;
    font-size: 1em;
  }
  
  .mainpage {
    background-color: rgba(0,0,0,0.9);
    margin: 0;
    padding: 3%;
  }


  .mp-cell {
    display: grid;
    background-color: #fff;
    border: 4px solid #e007aa;
    padding: 2%;
  }

  .s-cell {
    display: grid;
    padding: 1%;
  }
  

.card {
  text-align: center;
  display:grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: 23vh 30vh repeat(3, minmax(100px, 1fr));
  img {
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  &__text {
    padding: 10px 20px;
    * {
      margin-top: 10px;
    }
    p {
      color: black;
    }
    .separator {
      width: 50px;
      height: 1px;
      background-color: #AFCAD5;
      margin-left: 50%;
      transform: translateX(-50%);
      margin-top: 10px;
    }
  .btn {
    background-color: black;
    width: 70%;
    color: white;
    border: transparent;
    border-radius: 100px;
    font-size: 1rem;
  }
  .btn-2 {
    background-color: black;
    width: 40%;
    color: white;
    border: transparent;
    border-radius: 100px;
    font-size: 2rem;
  }
  &--profile {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}
}


.header {
  background-color: black;
  border: 3px solid white;
  box-shadow:  
     1px -1px #e007aa,
    -2px 2px #e007aa;
  grid-column: 1 / span 4;
}


.username {
  grid-column: 5 / span 1;
}

.searchbox {
  margin-top: 5%;
  grid-column: 2 / span 3;
}

.signup {
  grid-column: 5 / span 1;
}

.weather-box {
  grid-column: 1;
  grid-row: 2;
}


.sidebox-1 {
    grid-column: 1;
    grid-row: 3;
}


.sidebox-2{

  grid-column: 2 / span 2;
  grid-row: 3 / span 2;
  h5{
    font-size: 2em;
  }
}

.sidebox-3 {
  grid-column: 4;
  grid-row: 4;
}

.sidebox-4 {
  grid-column: 5;
  grid-row: 4;
}

.sidebox-5{
  grid-column: 4;
  grid-row: 3;
}

.sidebox-6 {
  grid-column: 5;
  grid-row: 3;
}
.sidebox-7{
  grid-column: 5;
  grid-row: 3;
}

.sidebox-8{
  grid-column: 1;
  grid-row: 5;
}

.sidebox-9{
  grid-column: 2;
  grid-row: 5;
}

.sidebox-10{
  grid-column: 3;
  grid-row: 5;
}

.sidebox-11{
  grid-column: 4;
  grid-row: 5;
}

.sidebox-12{
  grid-column: 5;
  grid-row: 5;
}


.ticker-cell {
  position: fixed;
  bottom: 0px;
  // display: grid;
  background-color: #fff;
  border: 4px solid black;
  padding-top: 2%;
  padding-bottom: 2%;
}

@media screen and (max-width: 575.98px) {

  .mp-cell {
    border: 1px solid #e007aa;
  }

 .card {
  gap: 0.5em;
  grid-template-columns: repeat(4, minmax(50px, 1fr));
  grid-template-rows: 18vh 9vh 18vh 10vh minmax(10px, 1fr) 40vh 40vh 40vh 40vh 40vh 40vh 40vh;
 }


 .header {
  border: 2px solid white;
  grid-column: 1 / span 4;
  grid-row: 1;
}


.username {
  grid-column: 1 / span 4;
  grid-row: 2;
}

.signup {
  grid-column: 1 / span 2;
  grid-row: 3;
}

.weather-box {
  grid-column: 3 / span 2;
  grid-row: 3;
}

.searchbox {
  // border: none;
  // background-color: transparent;
  grid-column: 1 / span 4;
  grid-row: 4;
}

.sidebox-2{

  grid-column: 1 / span 4;
  grid-row: 5 / span 2;
  h5{
    font-size: 1em;
  }
}

.sidebox-1 {
    grid-column: 1 / span 2;
    grid-row: 7;
}

.sidebox-3 {
  grid-column: 3 / span 2;
  grid-row: 7;
}

.sidebox-4 {
  grid-column: 1 / span 2;
  grid-row: 8;
}

.sidebox-5{
  grid-column: 3 / span 2;
  grid-row: 8;
}

.sidebox-6 {
  grid-column: 1 / span 2;
  grid-row: 9;
}
.sidebox-7{
  grid-column: 3 / span 2;
  grid-row: 9;
}

.sidebox-8{
  grid-column: 1 / span 2;
  grid-row: 10;
}

.sidebox-9{
  grid-column: 3 / span 2;
  grid-row: 10;
}

.sidebox-0{
  grid-column: 1 / span 2;
  grid-row: 11;
}

.sidebox-10{
  grid-column: 3 / span 2;
  grid-row: 11;
}

.sidebox-11{
  grid-column: 1 / span 2;
  grid-row: 12;
}
}