
@import "Variables";

// * {
//   margin:0;
//   padding: 0;
// }

// body {
//   margin: 0;
//   padding: 0;
//   background-color: #FCEEC5;
//   font-family: "Raleway", sans-serif;
//   font-size: 1.4rem;
// }

.container {
    min-height: 100vh;
  }
  
  .mainpage {
    background-color: rgba(0,0,0,0.7);
    margin: 0;

    padding: 3%;


  }

  .mp-cell {
    background-color: #fff;

    border: 4px solid black;

    padding: 2%;
  }
  

.card {
  text-align: center;
  display:grid;
  grid-gap: 1rem;
  // grid-template-columns: repeat(5, minmax(200px, 1fr));
  // grid-template-rows: repeat(7, minmax(100px, 1fr));
  // grid-template-rows: 1fr 1fr auto;
  &__text {
    padding: 10px 20px;
    * {
      margin-top: 10px;
    }
    p {
      color: black;
    }
    .separator {
      width: 50px;
      height: 1px;
      background-color: #AFCAD5;
      margin-left: 50%;
      transform: translateX(-50%);
      margin-top: 10px;
    }


  
  .username {
    grid-column: 5 / span 1;
  }
  button {
    background-color: #FEE005;
    width: 70%;
    color: white;
    border: transparent;
    border-radius: 100px;
    font-size: 1rem;
  }
  &--profile {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.header {
  grid-column: 1 / span 4;
}


.username {
  grid-column: 5 / span 1;
}

.searchbox {
  grid-column: 2 / span 3;
}

.signup {
  grid-column: 5 / span 1;
}

.sidebox-1 {
  grid-column: 1;
  grid-row: 2;
}

.sidebox-2 {
    grid-column: 1;
    grid-row: 3;
}


.mainbox-1 {
  grid-column: 2 / span 2;
  grid-row: 3 / span 2;
}

.mdbox-1 {
  grid-column: 4;
  grid-row: 4;
}

.mdbox-2 {
  grid-column: 5;
  grid-row: 4;
}

.rbox-1 {
  grid-column: 4;
  grid-row: 3;
}

.rbox-2 {
  grid-column: 5;
  grid-row: 3;
}


.ticker {
  grid-column: 1 / span 5;
  grid-row: 7;
}
