@import "Variables";
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');



.container {
    font-size: 1em;
    font-family: 'Mukta', sans-serif;
  }
  
  .mainpage {
    background-color: rgba(0,0,0,0.9);
    margin: 0;
    padding: 3%;
  }


  .mp-cell {
    // display: grid;
    background-color: #fff;
    border: 4px solid #e007aa;
    border-radius:10px;
    padding: 2%;
  }

  .s-cell {
    display: grid;
    padding: 1%;
  }
  

.card {
  text-align: center;
  display:grid;
  gap: 1rem;
  grid-template-columns: repeat(5, minmax(200px, 1fr));
  grid-template-rows: 23vh 30vh repeat(3, minmax(100px, 1fr));
  grid-auto-rows: minmax(100px, auto);
  img {
    width: 100%;
    object-fit: cover;
    max-height: 10em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  &__text {
    padding: 10px 10px;
    // margin-top: -10%;
    * {
      margin-top: 10px;
    }
    p {
      color: black;
    }
    .separator {
      width: 50px;
      height: 1px;
      background-color: #AFCAD5;
      margin-left: 50%;
      transform: translateX(-50%);
      margin-top: 10px;
    }
  .btn {
    width: 70%;
    padding: 2%;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 1.2rem;
    border:0.1em solid black;
    box-sizing: border-box;
    box-shadow: 3px 3px 3px #d907a1;
  }
  &--profile {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}
}


.header {
  background-color: black;
  border: 5px solid white;
  box-shadow:  
     1px -1px #e007aa,
    -2px 2px #e007aa;
  grid-column: 1 / span 4;
}

.username {
  font-size: 1.3em;
  grid-column: 5 / span 1;
}

.username-text {
  font-size: .7em;
  font-weight: bold;
}

.searchbox {
  grid-column: 2 / span 3;
}

.headlines-text {
  color: white;
  letter-spacing: 0.3em;
  line-height: 1em;
  font-size: 2.5em;
}

.login-cell {
  display: grid;
  background-image: url('../img/login-news.jpg');
  background-size: cover;
  align-content: center;
  background-color:#f7e9f3;
  grid-column: 5 / span 1;
}

.login-btn{
  height: 5vh;
  width: 50%;
  background-color:black;
  color: white;
  border:0.1em solid black;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 3px 3px 3px #e007aa;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight: bold;
  transition: all 0.2s;
  }
.login-btn:hover{
  color:#000000;
  background-color:#FFFFFF;
  }
@media all and (max-width:30em){
.login-btn{
  width: 75%;
  margin:0.4em auto;
}
}

.settingsLink {
  height: 5vh;
  width: 50%;
  background-color:black;
  color: white;
  border:0.1em solid black;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 3px 3px 3px #e007aa;
  padding: 3% 10% 3% 10%;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight: bold;
}

.weather-box {
  background-color:#f7e9f3;
  grid-column: 1;
  grid-row: 2;
}

.save-button{
  height: 6vh;
  width: 50%;
  background-color: #d907a1;
  color: white;
  border:0.1em solid black;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 3px 3px 3px black;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight: bold;
  transition: all 0.2s;
  }
.save-buttonn:hover{
  color:#000000;
  background-color:#FFFFFF;
  }

.sidebox-0 {
    grid-column: 1;
    grid-row: 3;
}


.sidebox-1{

  grid-column: 2 / span 2;
  grid-row: 3 / span 2;
  img {
    max-height: 40em;
  }
  h5{
    font-size: 2em;
  }
  .btn {
    background-color: black;
    width: 40%;
    border-radius: 5px;
    font-size: 2rem;
  }
  .save-button {
    font-size: 1.2em;
    height: 8vh;
    width: 30%;
  }
}

.sidebox-2 {
  grid-column: 4;
  grid-row: 3;
}

.sidebox-3 {
  grid-column: 5;
  grid-row: 3;
}

.sidebox-4 {
  grid-column: 1;
  grid-row: 4;
}

.sidebox-5{
  grid-column: 4;
  grid-row: 4;
}

.sidebox-6 {
  grid-column: 5;
  grid-row: 4;
}
.sidebox-7{
  grid-column: 1;
  grid-row: 5;
}

.sidebox-8{
  grid-column: 2;
  grid-row: 5;
}

.sidebox-9{
  grid-column: 3;
  grid-row: 5;
}

.sidebox-10{
  grid-column: 4;
  grid-row: 5;
}

.sidebox-11{
  grid-column: 5;
  grid-row: 5;
}

.sidebox-12{
  grid-column: 1;
  grid-row: 6;
}

.sidebox-13{
  grid-column: 2;
  grid-row: 6;
}

.sidebox-14{
  grid-column: 3;
  grid-row: 6;
}

.sidebox-15{
  grid-column: 4;
  grid-row: 6;
}

.sidebox-16{
  grid-column: 5;
  grid-row: 6;
}

.sidebox-17{
  grid-column: 1;
  grid-row: 7;
}

.sidebox-18 {
  grid-column: 2;
  grid-row: 7;
}

.sidebox-19 {
  grid-column: 3;
  grid-row: 7;
}

.sidebox-20 {
  grid-column: 4;
  grid-row: 7;
}

.sidebox-21 {
  grid-column: 5;
  grid-row: 7;
}

.sidebox-22 {
  grid-column: 1;
  grid-row: 8;
}

.sidebox-23 {
  grid-column: 2;
  grid-row: 8;
}

.sidebox-24 {
  grid-column: 3;
  grid-row: 8;
}

.sidebox-25 {
  grid-column: 4;
  grid-row: 8;
}

.sidebox-26 {
  grid-column: 5;
  grid-row: 8;
}

.sidebox-27 {
  grid-column: 1;
  grid-row: 9;
}

.sidebox-28 {
  grid-column: 2;
  grid-row: 9;
}

.sidebox-29 {
  grid-column: 3;
  grid-row: 9;
}

.sidebox-30 {
  grid-column: 4;
  grid-row: 9;
}

.ticker-cell {
  position: fixed;
  bottom: 0px;
  background-color: #fff;
  border: 4px solid black;
  padding-top: 2%;
  padding-bottom: 2%;
}


@media only screen 
and (min-device-width : 350px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {
  

.card {
  gap: .5em;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(50px, auto);
}


.header {
  grid-column: 1;
  grid-row: 1;
}

.username {
  font-size: 1.3em;
  grid-column: 1;
  grid-row: 2;
}

.searchbox {
  grid-column: 1;
  grid-row: 3;
}

.headlines-text {
  letter-spacing: 0.2em;
  line-height: 1em;
  font-size: 2em;
}

.login-cell {
  grid-column: 1;
  grid-row: 4;
}

.weather-box {
  background-color:#f7e9f3;
  grid-column: 1;
  grid-row: 5;
}

.sidebox-0 {
  grid-column: 1;
  grid-row: 6;
}


.sidebox-1{

  grid-column: 1;
  grid-row: 7;
}

.sidebox-2 {
  grid-column: 1;
  grid-row: 8;
}

.sidebox-3 {
  grid-column: 1;
  grid-row: 9;
}

.sidebox-4 {
  grid-column: 1;
  grid-row: 10;
}

.sidebox-5{
  grid-column: 1;
  grid-row: 11;
}

.sidebox-6 {
  grid-column: 1;
  grid-row: 12;
}
.sidebox-7{
  grid-column: 1;
  grid-row: 13;
}

.sidebox-8{
  grid-column: 1;
  grid-row: 14;
}

.sidebox-9{
  grid-column: 1;
  grid-row: 15;
}

.sidebox-10{
  grid-column: 1;
  grid-row: 16;
}

.sidebox-11{
  grid-column: 1;
  grid-row: 17;
}

.sidebox-12{
  grid-column: 1;
  grid-row: 18;
}

.sidebox-13{
  grid-column: 1;
  grid-row: 19;
}

.sidebox-14{
  grid-column: 1;
  grid-row: 20;
}

.sidebox-15{
  grid-column: 1;
  grid-row: 21;
}

.sidebox-16{
  grid-column: 1;
  grid-row: 22;
}

}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {

.card {
  gap: .5em;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(50px, auto);
}


.header {
  grid-column: 1;
  grid-row: 1;
}

.username {
  font-size: 1.3em;
  grid-column: 1;
  grid-row: 2;
}

.searchbox {
  grid-column: 1;
  grid-row: 3;
}

.headlines-text {
  letter-spacing: 0.2em;
  line-height: 1em;
  font-size: 2em;
}

.login-cell {
  grid-column: 1;
  grid-row: 4;
}

.weather-box {
  background-color:#f7e9f3;
  grid-column: 1;
  grid-row: 5;
}

.sidebox-0 {
  grid-column: 1;
  grid-row: 6;
}


.sidebox-1{

  grid-column: 1;
  grid-row: 7;
}

.sidebox-2 {
  grid-column: 1;
  grid-row: 8;
}

.sidebox-3 {
  grid-column: 1;
  grid-row: 9;
}

.sidebox-4 {
  grid-column: 1;
  grid-row: 10;
}

.sidebox-5{
  grid-column: 1;
  grid-row: 11;
}

.sidebox-6 {
  grid-column: 1;
  grid-row: 12;
}
.sidebox-7{
  grid-column: 1;
  grid-row: 13;
}

.sidebox-8{
  grid-column: 1;
  grid-row: 14;
}

.sidebox-9{
  grid-column: 1;
  grid-row: 15;
}

.sidebox-10{
  grid-column: 1;
  grid-row: 16;
}

.sidebox-11{
  grid-column: 1;
  grid-row: 17;
}

.sidebox-12{
  grid-column: 1;
  grid-row: 18;
}

.sidebox-13{
  grid-column: 1;
  grid-row: 19;
}

.sidebox-14{
  grid-column: 1;
  grid-row: 20;
}

.sidebox-15{
  grid-column: 1;
  grid-row: 21;
}

.sidebox-16{
  grid-column: 1;
  grid-row: 22;
}

}