@import "Variables";
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

html, body {
  margin: 0;
  height: 100%;
}


.setting-container {
    min-height: 100vh;
    font-family: 'Mukta', sans-serif;
  }
  .setting-page {
    background-color: rgba(0,0,0,0.9);
    margin: 0;
    padding: 3%;
  }
  .sp-cell {
    display: grid;
    width: 100%;
    background-color: #fff;
    border: 4px solid #059AEB;
    padding: 2%;
  }
.setting-card {
  text-align: center;
  display:grid;
  gap: 1rem;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  grid-template-rows: repeat(minmax(10px, 1fr));
  align-items: center;
  img {
    width: 90%;
    border-radius: 30%;
    object-fit: cover;
  }
  &__text {
    padding: 10px 20px;
    * {
      margin-top: 10px;
    }
    p {
      color: black;
    }
  &--profile {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}
}
/* div with the user's profile and picture */
.profile-card {
  border-radius: 30px;
  width: 70%;
  margin-left: 5%;
  grid-column: 1;
  grid-row: 1;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 42px;
  }
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: #2196F3;
  }
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .slider.round {
    border-radius: 34px;
  }
  .slider.round:before {
    border-radius: 50%;
  }
.setting-card--header {
    text-align: center;
}
/* div with the categories */
.categories {
    border-radius:30px;
    margin-right: 10%;
    text-align: left;
    background-color: #fff;
    border: 4px solid #059AEB;
    padding: 2%;
    grid-column: 2 / span 2;
    grid-row: 1;
}
/* Customize the label */
.category {
    text-align: left;
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 1em;
    // -webkit-user-select: none;
    // -moz-user-select: none;
    // -ms-user-select: none;
    // user-select: none;
  }
  /* Hide the browser's default checkbox */
  .category input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  // .checkmark {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   height: 25px;
  //   width: 25px;
  //   background-color: #eee;
  // }
  // /* On mouse-over, add a grey background color */
  // .category:hover input ~ .checkmark {
  //   background-color: #ccc;
  // }
  // /* When the checkbox is checked, add a blue background */
  // .category input:checked ~ .checkmark {
  //   background-color: #2196F3;
  // }
  // /* Create the checkmark/indicator (hidden when not checked) */
  // .checkmark:after {
  //   content: "";
  //   position: absolute;
  //   display: none;
  // }
  /* Show the checkmark when checked */
  .category input:checked ~ .checkmark:after {
    display: block;
  }
  /* Style the checkmark/indicator */
  .category .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .save-categories {
    background-color: #000000;
    color:white;
    font-weight: bold;
    width: 20%;
    height: 7vh;
    font-size: 1rem; 
    float: right;
    padding:0.35em 1.2em;
    border:0.2em solid black;
    border-radius:1em;
    // box-sizing: border-box;
    // text-decoration:none;
    transition: all 0.2s;
  }

.save-categories:hover{
    background-color:#059AEB;
    color:#FFFFFF;
    }

    .go-back {
      color: white;
      h5 {
      text-align: right;
      font-size: 1.7em;
      // margin-top: -1%;
      }
    .go-link {
      animation:blinkingText 1.2s infinite;
      @keyframes blinkingText{
        0%{     color: white;    }
        49%{    color: #e007aa; }
        60%{    color: transparent; }
        99%{    color: transparent;  }
        100%{   color: #e007aa    }
    }
    }
      grid-column: 2;
      grid-row: 2;
    }


  .table-cell {
    text-align: left;
    display: grid;
    width: 90%;
    border-radius: 10px;
    padding: 2%;
    margin-left: 3%;
    margin-top: -8%;
    background-color: #fff;
    border: 4px solid #059AEB;
    grid-column: 1;
    grid-row: 4;
  }

  .separate-line {
    width: 200%;
  }

.suggested-heading {
  color: #0867bf;
  h5 {
  text-shadow: 1px 1px 1px black;
  font-size: 2em;
  margin-top: -2%;
  }
  grid-column: 1;
  grid-row: 3;
}


.saved-heading {
  color: #0867bf;
  h5 {
  // text-align: left;
  text-shadow: 1px 1px 1px black;
  font-size: 2em;
  margin-bottom: 2%;
  margin-top: -8%;
  }
  grid-column: 2;
  grid-row: 3;
}

.saved-cell {
  text-align: left;
  display: grid;
  width: 90%;
  background-color: #fff;
  border: 4px solid #059AEB;
  border-radius: 10px;
  padding: 2%;
  margin-top: -8%;
  margin-left: 3%;
  grid-column: 2;
  grid-row: 4;
}

@media screen and (max-width: 575.98px) {
  
  .setting-container {
    height: 1000vh;
    display: grid;
    gap: 2rem;
    grid-template-columns: minmax(autofill, 1fr);
    grid-template-rows: repeat(3, minmax(0, 1fr));
  }

  .setting-card {
    display: unset;
    gap: unset;
    grid-template-columns: unset;
    grid-template-rows: unset;
  }

  .profile-card {
    border-radius: 30px;
    width: 100%;
    margin-left: 0%;
    grid-row: 1;
  }

  .go-back {
    color: white;
    h5 {
    text-align: right;
    font-size: 2em;
    margin-top: 10%;
    margin-bottom: 2%;
    }
    grid-row: 2;
  }

.categories {
  width: 100%;
  border-radius:30px;
  margin-right: 0%;
  padding: 2%;
  grid-row: 3;
}

.suggested-heading {
  color: #0867bf;
  h5 {
  text-shadow: 1px 1px 1px black;
  font-size: 2em;
  // margin-left: 10%;
  margin-top: 10%;
  margin-bottom: 2%;
  }
  grid-row: 4;
}

.table-cell {
  text-align: left;
  display: grid;
  width: 100%;
  background-color: #fff;
  border: 4px solid #059AEB;
  border-radius: 10px;
  padding: 2%;
  grid-row: 5;
}

}
