.settings-table {
    font-size: 1em;
    text-align: left;
    .table-heading {
        text-align: center;
    }
    .table-row {
        font-size: .8em;
    }
}

.separate-line2 {
    width: 115%;
  }

.more {
    width: 30%;
    text-decoration: none;
    background-color: black;
    color: white;
    border-radius:0.5em;
    padding: 12% 50% 12% 50%;
}