.container {
    width: 20%;
    text-align: center;
    font-size:1.5rem;
}
.card {
    background-color: white;
    height: 15%;
    text-align: center;
    img {
      width: 100%;
      object-fit: cover;
      border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    &__text {
      padding: 10px 20px;
      * {
        margin-top: 10px;
      }
      p {
        color: black;
      }
    &--profile {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  }
  }